[data-phokus-page="queryLab"] {
  [data-testid="app-bar"] {
    display: none;
  }

  [data-testid="head-crumbs-container"] {
    display: none;
  }

  [data-testid="qb-header-action-panel"] {
    padding-right: 0;
  }

  button[data-testid="download-button"] {
    display: none;
  }
}
